@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-custom {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* You can choose any weight between 300 and 800 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



body {
  background-color: #dbeafe;
  color: white;
  color: #172554;
  font-family:open-sans-custom;
}

body::-webkit-scrollbar{
  width: 0;
}
.move {
  animation: moveit 2s infinite;
}

@keyframes moveit {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX();
  }
}
